body { 
    background: url(http://www.wallgrad.ru/_ph/7/647213062.jpg?1411984629)   
    no-repeat;
    background-size: 100%;
}.cell {
	width: 100px;
	height: 100px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	line-height: 100px;
}
.main {
	text-align: center;
}
.farm {
	display: inline-block;
}
.indicator {
	border: 1px solid black;
	padding: 2px;
}
.indicators {
	float: right;
}
.menu {
	float: left;
}